<header class="site-header" role="banner">

	<a class="skip" href="#MainContent" onclick="getElementById('MainContent').focus()">Skip to Main Content</a>
	
	<span class="header-left">
		<img class="site-icon" src="/site/sitelogo.png" alt="Site Icon" aria-hidden="true"/>
	</span>
	
	<span class="header-right">
		<span class="site-title">
			<a href="{{ .Site.BaseURL }}" itemprop="author name">{{ .Site.Title }}</a>
		</span>
		
		<ul class="menu-content" role="navigation">
			{{ range .Site.Menus.main }}
				<li id="{{ .Identifier }}">
					{{ .Pre }}
					<a {{ with .URL }} href="{{ . }}" {{ end }}>
						<!--<img class="menu-icon" src="/menu/{{ .Identifier }}.png" alt="{{ .Identifier }}" aria-hidden="true"/>-->
						<span class="menu-text">{{ .Name }}</span>
					</a>
					{{ .Post }}
				</li>
			{{ end }}
		</ul>
	</span>
	
</header>