/* CSS rules for tables */

table {
	margin: 1rem 0;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
	width: 100%;
}
th { font-weight: bold; }
th, td {	
	border: thin solid #aaa;
	padding: 0.25rem 0.5rem;
	vertical-align: middle; 
}