{{/* Universal backing for other layout files */}}

<!doctype html>
<html lang="{{ .Site.LanguageCode | default `en` }}" itemscope itemtype="https://schema.org/WebPage">
    <head>
	
        {{ block "meta" . }} {{ partial "site/meta.html" . }} {{ end }}
		<title>
			{{ block "title" . }}
				{{- with .Title }}{{ . }} - {{ end }}{{ .Site.Title -}}
			{{ end }}
		</title>
        {{ block "styles" . }} {{ partial "site/styles.html" . }} {{ end }}
		{{ block "scripts" . }} {{ partial "site/scripts.html" . }} {{ end }}
		{{ block "links" . }} {{ partial "site/links.html" . }} {{ end }}
		
    </head>
    <body>
	
		{{/* If checked, website is in light mode */}}
		<input type="checkbox" id="LightswitchToggle" aria-hidden="true" onclick="switchLight()" {{ if eq ( .Site.Params.lightState | default "off") "on" }} checked {{ end }} hidden>
			
			{{ block "header" . }} {{ partial "site/header.html" . }} {{ end }}

			<main class="site-main" id="MainContent" role="main" itemscope itemtype="http://schema.org/Collection">
				{{ block "main" . }} {{ .Content }} {{ end }}
			</main>
			
			{{ block "footer" . }} {{ partial "site/footer.html" . }} {{ end }}

    </body>
</html>