{{/* HTML content for post list pages */}}

{{/* --- */}}
{{/* PAGINATION */}}
{{/* --- */}}

{{- define `pagination` -}}

	{{- $pages := .RegularPagesRecursive -}}
	{{- if .IsHome -}}{{- $pages = .Site.RegularPages -}}{{- end -}}
	{{- $paginator := (.Paginate (where (where $pages `Params.hide` `=` nil) `Params.date` `!=` nil) .Site.Params.paginate) -}}
	{{- .Scratch.Set `pages` $paginator -}}
	{{- with .Scratch.Get `pages` -}}{{- $.Scratch.Set `pageNum` .PageNumber -}}{{- end -}}

{{- end -}}

{{/* --- */}}
{{/* JAVASCRIPT */}}
{{/* --- */}}

{{- define `js` -}}
	{{- partial `jsgoloader` (dict `file` `js/pagejumper.js` `scope` . ) -}}
{{- end -}}

{{/* --- */}}
{{/* CSS */}}
{{/* --- */}}

{{- define `css` -}}
	
	{{/* CSS BLOCKS */}}
	{{- partial `cssblocks/lists` . -}}
	{{- partial `cssblocks/pagination` . -}}
	
	{{/* RETURN */}}
	{{- range .Scratch.Get `css` -}}
		{{- .Content | safeCSS -}}
	{{- end -}}
	
{{- end -}}

{{/* --- */}}
{{/* CONTENT */}}
{{/* --- */}}

{{- define `content` -}}

	{{- $paginator := .Scratch.Get `pages` -}}
	
	<div class='page-list'>
		{{- range $paginator.Pages -}}
			<article role='article'>
				<h2 itemprop='name'><a href='{{- .RelPermalink -}}'>{{- .Title -}}</a></h2>
				{{- partial `meta` . -}}
			</article>
		{{- end -}}
	</div>
	{{- partial `pagination` . -}}
{{- end -}}