{{/* HTML content for lists of taxonomy terms */}}

{{/* --- */}}
{{/* PAGINATION */}}
{{/* --- */}}

{{- define `pagination` -}}

	{{- $paginator := (.Paginate (sort .Pages) .Site.Params.taxPaginate) -}}
	{{- .Scratch.Set `pages` $paginator -}}
	{{- with .Scratch.Get `pages` -}}{{- $.Scratch.Set `pageNum` .PageNumber -}}{{- end -}}

{{- end -}}

{{/* --- */}}
{{/* JAVASCRIPT */}}
{{/* --- */}}

{{- define `js` -}}
	{{- partial `jsgoloader` (dict `file` `js/pagejumper.js` `scope` . ) -}}
{{- end -}}

{{/* --- */}}
{{/* CSS */}}
{{/* --- */}}

{{- define `css` -}}

	{{/* MAIN CSS */}}
	{{- .Scratch.Add `css` (slice
		(resources.Get "css/taxonomy.css")
		(resources.Get "css/opt/lists.css")
		)
	-}}
	
	{{/* CSS BLOCKS */}}
	{{- partial `cssblocks/pagination` . -}}
	
	{{/* RETURN */}}
	{{- range .Scratch.Get `css` -}}
		{{- .Content | safeCSS -}}
	{{- end -}}
	
{{- end -}}

{{/* --- */}}
{{/* TERMS LIST */}}
{{/* --- */}}

{{- define `content` -}}

	{{- $paginator := .Scratch.Get `pages` -}}
	
	<ul id='tag-list' role='directory'>
		{{- range $paginator.Pages -}}
		<li class='list-tag' role='listitem'>
			<a href='{{- .RelPermalink -}}'>{{- .Title -}}</a>
			<span class='post-count'>
				{{- with .Pages -}}
					{{- ` – ` -}} {{- len . -}}
					{{- if gt (len .) 1 -}}
						{{- ` Entries` -}}
					{{- else -}}
						{{- ` Entry` -}}
					{{- end -}}
				{{- end -}}
			</span>
		</li>
		{{- end -}}
	</ul>
	{{- partial `pagination` . -}}
{{- end -}}