/*
* Styles for main site layout
*/

/* ************** */
/* BASE STYLES */
/* ************** */

html {
	//https://www.client9.com/css-system-font-stack-sans-serif-v3
	font-family: $sans-font-family;	
	font-size: 20px;
	line-height: 1.667em;
	color: #333;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fafafa;
	z-index: -42;
}

// For details on ideal characters per line: https://en.wikipedia.org/wiki/Line_length
main {
	max-width: 33rem; // 0.5rem per 1 character ~= 66 characters per line
	padding: 0 1.5rem; // -6 characters per line ~= 60 characters per line
	margin: 4rem auto 2rem auto; // centers content and lowers it below header
}

code {
	// https://www.client9.com/css-system-font-stack-monospace-v2
	font-family: $code-font-family;
}

// If #DayNightToggle is checked, website is in day reading mode (with light colours and dark text)
#DayNightToggle:checked ~ main {
	color: #333;
	background-color: #fafafa;
}

/* ****************** */
/* GLOBAL LINKS*/
/* ****************** */

a, label {
	text-decoration: none;
	&:hover {
		cursor: pointer;
	}
}

/* From: https://webaim.org/techniques/css/invisiblecontent/ */
a.skip {
	display: block;
	position:absolute;
	z-index: -100;
	width:0rem;
	height:0rem;
	overflow: hidden;
	text-align: center;
	&:focus {
		position:static;
		width:auto;
		height:auto;
		margin-bottom: 1rem;
		z-index: auto;
	}
}

/* **************************** */
/* HEADER AND FOOTER */
/* **************************** */

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	
	.header-left, .header-right {
		background-color: #fafafa;
	}
	
	.header-left {
		float: left;
	}
	
	.header-right {
		@extend %underline;
		padding: 0.75rem 0;
		display: block;
		overflow: hidden;
		margin-right: 1rem;
	}

	// Logo
	.site-icon {
		width: 6.5rem;
	}

	// Title
	.site-title {
		float: left;
		margin: 0 1rem;
		background-color: #000;
		box-shadow: 0 0 0.5rem 0.1rem #000;
		font-family: $serif-font-family;
		font-size: 1.8rem;
		padding: 0.25rem 0.75rem;
		text-shadow: 	0 0 0.25rem #fafafa, 
								0 0 0.5rem #b8860b, 
								0 0 0.55rem #b8860b;
		a, a:hover, a:active {
			padding: 0 1rem;
			color: #fafafa;
		}
	}
	
	// Menu
	.menu-content {
		list-style: none;
		line-height: 1.3;
		li {
			float: left;
			padding: 0 0.5rem;
			border-top: $border-fade;
			border-bottom: $border-fade;
			&:not(:last-child) {
				border-right: $border-layout;
			}
			a {
				color: #555;
				&:hover, &:focus {
					color: #777;
					border-bottom: thin dotted #777;
				}
			}
		}
	}
}

.site-footer {
	max-height: 2rem;
	background-color: #fafafa;
	font-size: .8rem;
	line-height: 120%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0.15rem;
	text-align: center;
	width: 100%;
	.copyright {
		display: inline-block;
	}
	.to-top-link {
		position: fixed;
		right: 0;
		margin-right: 0.5rem;
	}
}

/* ************ */
/* SIDEBAR */
/* *********** */
.sidebar-info {
	position: absolute;
	left: 1rem; // For padding
	top: 5rem; // 6.5rem (from top-bar) - 1.5rem (h1 margin top)
}