{{/* PAGE DESCRIPTIONS */}}
{{/* Gets description (or summary if unset) for metadata and RSS */}}

{{/* Start with the page summary, trimming extra white space. */}}
{{- $desc := .Summary | replaceRE `(?:\s+)` ` ` -}}
	
{{/* If a description is set... */}}
{{- if .Description -}}
	{{/* Replace summary with description, */}}
	{{/*	trimming extra whitespace and unneeded ending punctuation */}}
	{{- $desc = trim .Description `!.,? ` | replaceRE `(?:\s+)` ` ` -}}
{{- end -}}

{{/* Finally, print the result, truncated per config.toml */}}
{{/* (We usually won't need to truncate descriptions, but better safe than sorry!) */}}
{{- $desc | truncate .Site.Params.sumLen -}}