{{/* POST METADATA */}}
{{/* Gets post description, date, read time, sections, and categories in a nice paragraph. */}}

{{/* ------ */}}
{{/* DESCRIPTION */}}
{{/* ------ */}}

	{{- with .Description -}}
		<p class='meta'>{{- . -}}</p>
	{{- end -}}
	
{{/* ------ */}}
{{/* DATES */}}
{{/* ------ */}}
<p class='meta'>
	{{- if .Params.date -}}
		<time>{{- .Date.Format (`January 02, 2006`) -}}</time>
			{{/* Show edited date only if it differs from the post date */}}
			{{- if ne .Lastmod .Date -}}
				{{- `(edited ` -}}
				<time>
					{{- .Lastmod.Format (`January 02, 2006`) -}}
				</time>
				{{- `)` -}}
			{{- end -}}
	{{- end -}}
</p>

{{/* ------ */}}
{{/* CATEGORIES LIST */}}
{{/* ------ */}}

<ul class="meta" aria-description="Tags">
	{{- with .Params.tags -}}
		{{- range . -}}
			<li><a href='{{- `/tags/` | relURL -}}{{- . | urlize -}}'>
				{{- `#` -}}{{- . | humanize | title -}}
			</a></li>
		{{- end -}}
	{{- end -}}
</ul>