{{/* PAGINATOR */}}
{{/* Gets page numbers and links for paginated pages (e.g. lists of posts, tags...) */}}
	
{{- $paginator := .Scratch.Get `pages` -}}

{{- if gt $paginator.TotalPages 1 -}}{{- with $paginator -}}
	<a class='sr-only' href='#footer'>Skip Pagination</a>
	<nav class='pagination' aria-label='Pagination'>
		<div>
			{{- `Page ` -}} {{- .PageNumber -}} {{- ` of ` -}} {{- .TotalPages -}}
			<span class='js-only'>
			{{- ` | ` -}}
			<label for='pagenum'>{{- `Jump to page:` -}}</label>
			<form action='javascript:goToPage();'>
				{{/* Len (print .TotalPages) = number of characters the total number of pages take up. */}}
				{{/*	E.g. 250 = 3 characters, 15 = 2 characters. Adding 1 for extra space. */}}
				<input id='pagenum' class='text-input' type='number' min='1' max='{{- .TotalPages -}}' placeholder='{{- .PageNumber -}}' title='Enter a page number from 1 to {{ .TotalPages -}}' style='max-width:{{- add 1 (len (print .TotalPages)) -}}rem'/>
				<button type='submit'><span class='a'>Go</span></button>
			</form>
			</span>
		</div>
		<div class='pagilinks'>
			{{- if .HasPrev -}}
				<a class='first' href='{{- .First.URL -}}'>First</a>
				<a class='previous' href='{{- .Prev.URL -}}'>Previous</a>
			{{- end -}}
			{{- if and .HasPrev .HasNext -}}
				<span class='pagibar'>{{- ` | ` -}}</span>
			{{- end -}}
			{{- if .HasNext -}}
				<a class='next' href='{{- .Next.URL -}}'>Next</a>
				<a class='last' href='{{- .Last.URL -}}'>Last</a>
			{{- end -}}
		</div>
	</nav>
{{- end -}}{{- end -}}